@page
@model SalleDeSportMaroc.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
    <h2>Mot de passe oublié</h2>
    <p>Si un compte existe avec cette adresse e-mail, un lien de réinitialisation a été envoyé.</p>

    <a asp-page="./Login" class="btn btn-primary mt-3">Retour à la connexion</a>
}
